{% extends 'base.html' %}

{% block title %}

<title>Register</title>

{% endblock title %}




{% block body %}

<div>
    <form method="POST" action="">
        {% csrf_token %}
        <label>Username</label>
        <input type="text" name="username" placeholder="Enter Username: ">
        <br>
        <br>
        <label>Password</label>
        <input type="password" name="password" placeholder="Password: ">

        <input type="submit" value="login"/>
    </form>

    <a href="{% url 'register' %}">Dont have an account Signup</a>
</div>

{% endblock body %}